# Java.Interop Pipelines

trigger:
  - master
  - d16-*

pr:
  - master
  - d16-*

# Global variables
variables:
  DotNetCoreVersion: 3.1.201
  HostedMac: Hosted Mac Internal
  HostedWinVS2019: Hosted Windows 2019 with VS2019

jobs:
- job: windows_build
  displayName: Windows - .NET Framework
  pool: $(HostedWinVS2019)
  timeoutInMinutes: 20
  workspace:
    clean: all
  steps:
  - checkout: self
    submodules: recursive

  - task: UseDotNet@2
    displayName: Use .NET Core $(DotNetCoreVersion)
    inputs:
      version: $(DotNetCoreVersion)

  - task: NuGetToolInstaller@0
    inputs:
      versionSpec: 5.x

  - task: NuGetCommand@2
    inputs:
      command: restore
      restoreSolution: 'external\xamarin-android-tools\Xamarin.Android.Tools.sln'
      
  - task: MSBuild@1
    displayName: MSBuild Java.Interop.sln /t:Prepare
    inputs:
      solution: Java.Interop.sln
      configuration: $(Build.Configuration)
      msbuildArguments: /restore /t:Prepare

  - task: MSBuild@1
    displayName: MSBuild Java.Interop.sln
    inputs:
      solution: Java.Interop.sln
      configuration: $(Build.Configuration)
      msbuildArguments: /restore
    
  - task: MSBuild@1
    displayName: MSBuild RunNUnitTests.targets
    inputs:
      solution: build-tools/scripts/RunNUnitTests.targets
      configuration: $(Build.Configuration)
      msbuildArguments: /p:TestAssembly="bin\Test$(Build.Configuration)\generator-Tests.dll;bin\Test$(Build.Configuration)\Java.Interop.Tools.JavaCallableWrappers-Tests.dll;bin\Test$(Build.Configuration)\logcat-parse-Tests.dll;bin\Test$(Build.Configuration)\Xamarin.Android.Tools.ApiXmlAdjuster-Tests.dll;bin\Test$(Build.Configuration)\Xamarin.Android.Tools.Bytecode-Tests.dll;bin\Test$(Build.Configuration)\Java.Interop.Tools.Common-Tests.dll"
    condition: succeededOrFailed()

  - task: PublishTestResults@2
    displayName: Publish Test Results
    inputs:
      testResultsFormat: NUnit
      testResultsFiles: TestResult-*.xml
    condition: succeededOrFailed()

- job: windows_dotnet_build
  displayName: Windows - .NET Core
  pool: $(HostedWinVS2019)
  timeoutInMinutes: 20
  workspace:
    clean: all
  steps:
  - checkout: self
    submodules: recursive

  - task: UseDotNet@2
    displayName: Use .NET Core $(DotNetCoreVersion)
    inputs:
      version: $(DotNetCoreVersion)

  - task: DotNetCoreCLI@2
    displayName: Prepare Solution
    inputs:
      projects: Java.Interop.sln
      arguments: '-c $(Build.Configuration) -target:Prepare'

  - task: DotNetCoreCLI@2
    displayName: Build Solution
    inputs:
      projects: Java.Interop.sln
      arguments: '-c $(Build.Configuration)'

  - task: DotNetCoreCLI@2
    displayName: 'Tests: Common'
    inputs:
      command: test
      arguments: bin\Test$(Build.Configuration)\Java.Interop.Tools.Common-Tests.dll
    continueOnError: true

  - task: DotNetCoreCLI@2
    displayName: 'Tests: generator'
    inputs:
      command: test
      arguments: bin\Test$(Build.Configuration)\generator-Tests.dll
    continueOnError: true

  - task: DotNetCoreCLI@2
    displayName: 'Tests: JavaCallableWrappers'
    inputs:
      command: test
      arguments: bin\Test$(Build.Configuration)\Java.Interop.Tools.JavaCallableWrappers-Tests.dll
    continueOnError: true

  - task: DotNetCoreCLI@2
    displayName: 'Tests: logcat-parse'
    inputs:
      command: test
      arguments: bin\Test$(Build.Configuration)\logcat-parse-Tests.dll
    continueOnError: true

  - task: DotNetCoreCLI@2
    displayName: 'Tests: ApiXmlAdjuster'
    inputs:
      command: test
      arguments: bin\Test$(Build.Configuration)\Xamarin.Android.Tools.ApiXmlAdjuster-Tests.dll
    continueOnError: true

  - task: DotNetCoreCLI@2
    displayName: 'Tests: Bytecode'
    inputs:
      command: test
      arguments: bin\Test$(Build.Configuration)\Xamarin.Android.Tools.Bytecode-Tests.dll
    continueOnError: true

  - powershell: |
      Write-Host "Current job status is: $env:AGENT_JOBSTATUS"
      if ($env:AGENT_JOBSTATUS -eq "SucceededWithIssues") {
          Write-Host "##vso[task.complete result=Failed;]DONE"
      }
    displayName: Fail job if tests failed
    
- job: mac_build
  displayName: Mac - Mono
  pool: $(HostedMac)
  timeoutInMinutes: 20
  workspace:
    clean: all
  steps:
  - checkout: self
    submodules: recursive

  - task: UseDotNet@2
    displayName: Use .NET Core $(DotNetCoreVersion)
    inputs:
      version: $(DotNetCoreVersion)
    
  - script: |
      dotnet tool install --global boots  
      boots https://download.mono-project.com/archive/6.4.0/macos-10-universal/MonoFramework-MDK-6.4.0.198.macos10.xamarin.universal.pkg
    displayName: Install Mono 6.4
    
  - script: make prepare CONFIGURATION=$(Build.Configuration)
    displayName: make prepare
    
  - script: make all CONFIGURATION=$(Build.Configuration)
    displayName: make all
    
  - script: |
      r=0
      make run-all-tests CONFIGURATION=$(Build.Configuration) || r=$?
      jar cf xatb.jar -C tests/Xamarin.Android.Tools.Bytecode-Tests/obj/*/classes .
      zip -r bin.zip bin
      exit $r
    displayName: Run Tests

  - task: PublishTestResults@2
    displayName: Publish Test Results
    inputs:
      testResultsFormat: NUnit
      testResultsFiles: TestResult-*.xml
    condition: succeededOrFailed()

  - task: CopyFiles@2
    displayName: 'Copy Files to: Artifact Staging Directory'
    inputs:
      SourceFolder: $(System.DefaultWorkingDirectory)
      Contents: |
        xatb.jar
        bin.zip 
      TargetFolder: $(Build.ArtifactStagingDirectory)
    condition: succeededOrFailed()

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: debug'
    inputs:
      ArtifactName: debug
    condition: succeededOrFailed()
