# Java.Interop Pipelines

trigger:
  - main
  - release/*
  - dependabot/*

pr:
  branches:
    include:
    - main
    - release/*
  paths:
    exclude:
    - README.md
    - Documentation/*

# Global variables
variables:
  RunningOnCI: true
  Build.Configuration: Release
  DotNetCoreVersion: 8.0.303
  DotNetTargetFramework: net8.0
  NetCoreTargetFrameworkPathSuffix: -$(DotNetTargetFramework)
  HostedPoolName: Azure Pipelines
  HostedWinImage: windows-2022
  HostedMacImage: macOS-14
  DncEngPublicPoolName: NetCore-Public

jobs:
- job: windows_dotnet_build
  displayName: Windows - .NET
  pool:
    name: $(DncEngPublicPoolName)
  timeoutInMinutes: 60
  workspace:
    clean: all
  steps:
  - checkout: self
    submodules: recursive

  - template: templates\install-dependencies.yaml

  - template: templates\core-build.yaml

  - template: templates\core-tests.yaml
    parameters:
      runNativeDotnetTests: true
      nativeAotRid: win-x64
      platformName: .NET - Windows

  - template: templates\fail-on-dirty-tree.yaml

  - template: templates\fail-on-issue.yaml

  - task: PublishPipelineArtifact@1
    displayName: Publish build artifacts
    inputs:
      artifactName: artifacts
      targetPath: bin
    condition: succeededOrFailed()

- job: mac_dotnet_build
  displayName: Mac - .NET
  pool:
    name: $(HostedPoolName)
    vmImage: $(HostedMacImage)
  timeoutInMinutes: 20
  workspace:
    clean: all
  steps:
  - checkout: self
    submodules: recursive

  - template: templates\install-dependencies.yaml

  - template: templates\core-build.yaml

  - template: templates\core-tests.yaml
    parameters:
      runNativeTests: true
      nativeAotRid: osx-x64
      platformName: .NET - MacOS

  - template: templates\fail-on-dirty-tree.yaml

  - template: templates\fail-on-issue.yaml
